<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link th:href="@{/css/vikas.css}" rel="stylesheet" />
</head>
<body>
	<div th:insert="layout::navbar"></div>
	<div th:insert="layout::menu"></div>
	
	
	<div class="content">
		<h1 th:text="${message}"> </h1>
		<form th:action="@{/doChange}" method="post">
			<table border="1">
				<tr>
					<td colspan="2">User Password change</td>
				</tr>
				<tr>
					<td>UserName</td>
					<Td><input type="text" name="userName" th:value="${username}"></Td>
				</tr>
				<tr>
					<td> OldPassword</td>
					<td><input type="password" name="userPassword"></td>
				</tr>
				<Tr>
					<Td> New Password</Td>
					<td><input type="password" name="newPassword"></td>
				</Tr>
				<tr>
					<td colspan="2">
					<input type="submit" value="changePassword">
					<input type="reset" value="clear">
				</td>
			</tr>
			</table>




		</form>

	</div>
</body>
</html>